@using Nilesoft.Models
@{
	Layout = "_Layout";
	//ViewData["title"] = "Documentation";

	var doc_page = ViewData["doc_page"];

	var path = this.Context.Request.Path.Value;

	string doc_path = "/docs";


	TreeListItem[] list = new TreeListItem[]
	{
		new TreeListItem { Title = "Introduction", Link = "" },
		new TreeListItem { Title = "Installation", Link = "installation" },
		new TreeListItem { Title = "Get Started", Link = "getstarted" },
		new TreeListItem
		{
			Title = "Syntax", Link = "syntax",
			Items = new TreeListItem[]
			{
				new TreeListItem { Title = "Variables", Link= "variables" },
				new TreeListItem { Title = "default", Link = "default" },
				new TreeListItem { Title = "Static", Link = "static" },
				new TreeListItem { Title = "Dynamic", Link = "dynamic" }
			}
		},
		new TreeListItem
		{
			Title = "Expressions", Link = "expressions",
			Items = new TreeListItem[]
			{
				new TreeListItem { Title = "Comments", Link= "comments" },
				new TreeListItem { Title = "String literal", Link = "string" },
				new TreeListItem { Title = "Numeric literal", Link = "numeric" },
				new TreeListItem { Title = "Color literal", Link = "color" },
				new TreeListItem { Title = "Operators", Link = "operators" },
				new TreeListItem { Title = "Identifier", Link = "identifier" }
			}
		},
		new TreeListItem
		{
			Title = "Functions", Link = "functions",
			Items = new TreeListItem[]
			{
				new TreeListItem { Title = "app", Link= "app" },
				new TreeListItem { Title = "color", Link = "color" },
				new TreeListItem { Title = "image", Link = "image" },
				new TreeListItem { Title = "io", Link = "io" },
				new TreeListItem { Title = "key", Link = "key" },
				new TreeListItem { Title = "msg", Link = "msg" },
				new TreeListItem { Title = "path", Link = "path" },
				new TreeListItem { Title = "reg", Link = "reg" },
				new TreeListItem { Title = "sel", Link = "sel" },
				new TreeListItem { Title = "str", Link = "str" },
				new TreeListItem { Title = "sys", Link = "sys" },
				new TreeListItem { Title = "user", Link = "user" }
			}
		},
		new TreeListItem
		{
			Title = "Examples", Link = "examples",
			Items = new TreeListItem[]
			{
				new TreeListItem { Title = "Copy path", Link = "copypath" },
				new TreeListItem { Title = "Favorites", Link = "favorites" },
				new TreeListItem { Title = "Goto", Link = "goto" }
			}
		}
	};
}
<h4 class="is-size-4 mb-5">Documentation</h4>
			<section id="ad-responsive-horizontal-728-90" class="has-text-centered my-6">
				<ins class="adsbygoogle"
					 style="display:inline-block;width:90%;height:90px"
					 data-ad-client="ca-pub-2559766466824022"
					 data-ad-slot="6484658586"></ins>
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
			</section>
<div class="columns">
	<aside id="categories" class="column is-one-quarter px-2">
		<section class="menu">
			<div class="container">
				<ul class="menu-list">
					@foreach (var item in list)
					{
					<li>
						@if (item.Link != null)
						{
							var lnk = doc_path + "/" + item.Link;
							<a href="@Html.Raw(lnk)" @if(path.Equals(lnk)) { @Html.Raw("class=\"is-active\"") ; }>

							@if(item.Items?.Length > 0)
							{
								@if(path.StartsWith(lnk))
								{
									<i class="mdl2 mdl2-scroll-chevron-down-legacy"></i>
								}
								else
								{
									<i class="mdl2 mdl2-scroll-chevron-right-legacy"></i>
								}
								<span class="ml-2">@item.Title</span>
							}
							else
							{
								<span class="ml-5">@item.Title</span>
							}
							</a> 
						}
						else
						{
							<span class="ml-6">@item.Title</span>
						}

						@if(item.Items != null && path.StartsWith(@doc_path + "/" + @item.Link))
						{
							<ul>
								@foreach (var subitem in item.Items)
								{
								<li>
									@{ var lnk = doc_path + "/" + item.Link + "/" + subitem.Link;}
									<a href="@Html.Raw(lnk)" @if (path.Equals(lnk)) { @Html.Raw("class=\"is-active\"") ; }>@subitem.Title</a>
								</li>
								}
							</ul>
						}
						</li>
					}
					</ul>
				</ul>
			</div>
		</section>
		<section id="ad-responsive-vertical">
			<div class="container p-3 has-text-centered my-6">
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-2559766466824022"
					 data-ad-slot="2410467654"
					 data-ad-format="auto"
					 data-full-width-responsive="true"></ins>
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
			</div>
		</section>
	</aside>
	<div id="content" class="column">
		<div class="content">
			@RenderBody()
			<section id="ad-responsive-horizontal" class="has-text-centered my-6">
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-2559766466824022"
					 data-ad-slot="9611969124"
					 data-ad-format="auto"
					 data-full-width-responsive="true"></ins>
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
			</section>
		</div>
	</div>
</div>
